//The CSS Reset
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --ff: 'Kumbh Sans', sans-serif;
    --fs: 12px;

    --bg-gradient: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));

    --primary-dark-color: hsl(238, 29%, 16%);
    --primary-soft-color: hsl(14, 88%, 65%);

    --neutral-dark-color: hsl(237, 12%, 33%);
    --neutral-soft-color: hsl(240, 6%, 50%);

    --shado: 0px 60px 50px -25px rgba(0, 0, 0, 0.12);


}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    min-height: 100vh;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
* Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: var(--bg-gradient);
    background-size: cover;
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: 400;

}

main {
    background-color: #fff;
    margin: 1rem auto 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border-radius: 1rem;
    box-shadow: var(--shado);
    max-width: 310px;


}

.illustration {
    background: url(../images/bg-pattern-mobile.svg);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center 100%;

    .woman {

        width: 75%;
        position: relative;
        margin: -35% auto 0;
        padding-bottom: 1.5rem;
    }
}

.faq-container {
    padding: 9px 1rem 2rem;

    h1 {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 2;
        text-align: center;
        color: var(--neutral-dark-color);

    }

}

article.article {
    border-bottom: thin solid hsl(240, 5%, 91%);
    padding-bottom: 1rem;

}

.accordion {
    background-color: transparent;
    color: var(--neutral-soft-color);
    font-size: var(--fs);
    cursor: pointer;
    padding: 1rem 0 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

    &:hover {
        color: var(--primary-soft-color);
    }

    :after {
        content: '';
        /* Unicode character for "plus" sign (+) */
        font-size: 9px;
        color: var(--neutral-soft-color);
        float: right;
        width: 10px;
        height: 7px;
        margin-top: .5rem;
        background-image: url(../images/icon-arrow-down.svg);
        background-repeat: no-repeat;
    }

    &.active:after {
        content: "";
        background-image: url(../images/icon-arrow-down.svg);
    }
}

.panel {
    // display: none;
    background-color: white;
    overflow: hidden;
    max-height: 0;

    font-size: var(--fs);
    color: var(--neutral-soft-color);
    -webkit-transition: max-height 0.4s ease-out;
    -moz-transition: max-height 0.4s ease-out;
    -ms-transition: max-height 0.4s ease-out;
    -o-transition: max-height 0.4s ease-out;
    transition: max-height 0.4s ease-out;

    p {
        margin-top: 1rem;
    }
}

.dispaly p {
    padding: 0 1px 1rem;
}